# Python

*.pyc

# C
*.o

# Produced binarys
Exercises/Exercise01/C/DeviceInfo
Exercises/Exercise02/C/vadd
Exercises/Exercise04/C/vadd
Exercises/Exercise05/C/vadd
Exercises/Exercise06/C/mult
Exercises/Exercise09/C/pi
Exercises/Exercise13/C/gameoflife
Exercises/Exercise13/CUDA/gameoflife
Exercises/Exercise13/CUDA-VADD/vadd
Exercises/Exercise13/Displayer/displayer

Exercises/Exercise01/Cpp/DeviceInfo
Exercises/Exercise03/Cpp/vadd
Exercises/Exercise04/Cpp/vadd
Exercises/Exercise05/Cpp/vadd
Exercises/Exercise06/Cpp/mult
Exercises/Exercise09/Cpp/pi

Solutions/Exercise04/C/vadd_chain
Solutions/Exercise05/C/vadd_abc
Solutions/Exercise06/C/mult
Solutions/Exercise07/C/mult
Solutions/Exercise08/C/mult
Solutions/Exercise09/C/pi_ocl
Solutions/Exercise13/C/gameoflife
Solutions/ExerciseA/C/pi_vocl

Solutions/Exercise04/Cpp/vadd_chain
Solutions/Exercise05/Cpp/vadd_abc
Solutions/Exercise06/Cpp/mult
Solutions/Exercise07/Cpp/mult
Solutions/Exercise08/Cpp/mult
Solutions/Exercise09/Cpp/pi_ocl
Solutions/Exercise13/Cpp/gameoflife
Solutions/ExerciseA/Cpp/pi_vocl


*.plist
.DS_Store

Exercises/Exercise01/C/DeviceInfo.dSYM/Contents/Resources/DWARF/DeviceInfo


Solutions/Exercise06/Cpp/Makefile.tmp

Solutions/ExerciseA/C/pi_vocl.dSYM/Contents/Resources/DWARF/pi_vocl
