# Python

*.pyc

# C
*.o

# Produced binarys
Exercises/Exercise01/C/DeviceInfo
Exercises/Exercise02/C/vadd
Exercises/Exercise04/C/vadd
Exercises/Exercise05/C/vadd
Exercises/Exercise08/C/pi
Exercises/Exercise06/C/mult

Exercises/Exercise01/Cpp/DeviceInfo
Exercises/Exercise03/Cpp/vadd
Exercises/Exercise04/Cpp/vadd
Exercises/Exercise05/Cpp/vadd
Exercises/Exercise08/Cpp/pi

Solutions/Exercise04/C/vadd_chain
Solutions/Exercise05/C/vadd_abc
Solutions/Exercise08/C/pi_ocl
Solutions/Exercise06/C/mult
Solutions/Exercise07/C/mult

Solutions/Exercise04/Cpp/vadd_chain
Solutions/Exercise05/Cpp/vadd_abc
Solutions/Exercise08/Cpp/pi_ocl
